            <li class="nav-item">
              <%= link_to "Create event", new_event_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Log Out', session_path('abc'), method: :delete, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'future or past events', class: "nav-link" %>
            </li>