    <% if @user.errors.any? %>
        <div class="alert alert-danger">
         <% @user.errors.full_messages.each do |messages|%>
          <div><%= messages %></div>
         <% end %>
        </div>
      <% end %>