<main><br />
  <div>
    <h3>Up coming Events</h3><br />

    <div class="jumbotron">
      <% @upcoming_events.each do |t| %>
        <strong>Description : </strong><%= t.details%><br /><br />
        <strong>Date : </strong><%= t.date %>
      <% end %>
    </div>
  </div><br /><br /><hr />

  <div>
    <h3>Past events</h3>

    <div class="jumbotron">
      <% @past_events.each do |t| %>
        <strong>Description : </strong><%= t.details%><br /><br />
        <strong>Date : </strong><%= t.date %><hr>
      <% end %>
    </div>
  </div>
</main>